.recipe_item {
  box-shadow: 4px 5px 7px #5cb85c99;
  padding: 15px 20px;
  margin-bottom: 15px;
  background-color: var(--color-tertiary-m-light);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  transition: all 0.3s ease;
  /* transform: scale(1); */
  position: relative;
}

.recipe_item::after {
  content: "";
  width: 0%;
  position: absolute;
  height: 5px;
  background-color: #570202;
  left: 0;
  bottom: 0;
  /* transform: translateX(100%); */
  opacity: 0;
  transition: all 0.4s ease;
}

.recipe_item:hover {
  /* transform: scale(1.1) !important; */
  box-shadow: 2px 2px 10px 1px rgb(31, 30, 30);
}

.recipe_item:hover::after {
  /* transform: translateX(0); */
  opacity: 1;
  width: 100%;
}

.list-group-item.active,
.list-group-item.active:focus {
  background-color: var(--color-primary-m-dark);
  border-color: var(--color-primary-m-dark);
}

.image_box .img {
  width: 100px;
  object-fit: cover;
  height: 100%;
  min-height: 80px;
  border-radius: 10px;
  box-shadow: 1px 1px 6px #776f6f;
}
.recipe_name {
  font-size: 2.6rem;
  color: var(--color-tertiary);
}
