<!-- <div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success" (click)="onNewRecipe()">New Recipe</button>
    </div>
</div>
<hr> -->

<div class="recipe-list-box">
    <app-recipe-item *ngFor="let recipeEl of recipes; let i=index" [id]="recipeEl._id" [recipe]="recipeEl">
    </app-recipe-item>
</div>

<div style="position: relative; display: flex;align-items: center;justify-content: center;" class="search-results"
    infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollUpDistance]="1.5" [infiniteScrollThrottle]="1000"
    (scrolled)="loadOnScroll()">
    <ngx-spinner size="medium" color="#880707" type="fire" [fullScreen]="false"
        style="position: absolute; bottom: -5px;">
    </ngx-spinner>
</div>