<div class="shopping-edit-section">

      <div class="box">
        <form (ngSubmit)="onSubmit(frm)" #frm="ngForm">
          <div class="">
            <div class="">
              <label for="name">Name</label>
              <input type="text" id="name" class="form-control" name="name" ngModel required>
            </div>
            <div class="">
              <label for="amount">Amount</label>
              <input type="number" id="amount" class="form-control" name="amount" ngModel required
                pattern="^[1-9]+[0-9]*$">
            </div>
          </div>
          <div class="">
            <div class="">
              <button class="btn btn-success" [disabled]="!frm.valid" type="submit">
                {{ editMode ? 'Update' : 'Add' }}
              </button>
              <button class="btn btn-danger" *ngIf="editMode" type="button" (click)="onDelete()">Delete</button>
              <button class="btn btn-primary" type="button" (click)="onClear()">Clear</button>
            </div>
          </div>
        </form>
      </div>
    </div>
