<div class="page-title-section">
    <div class="container">
        <h1 class="page-title">Login</h1>
    </div>
</div>

<div id="login" class="content-section">
    <div class="container">
        <div class="form-wrapper">
            <div class="form-side">
                <h2>Login to <b>Recipe</b></h2>
            </div>
            <div class="form-main">
                <div class="w-form">
                    <form id="login-form" (submit)="onSubmit(loginForm)" #loginForm="ngForm">
                        <app-alert *ngIf="alert" (close)="onCloseAlertMessage()" [alert]="alert">
                        </app-alert>
                        <label for="name">
                            Email
                        </label>
                        <input ngModel type="text" name="email" class="input w-input" placeholder="Email" #emailInput="ngModel"
                            required>
                        <span class="vaidation_error"
                            *ngIf="emailInput.invalid && emailInput.touched && !emailInput.errors['serverError']">Please
                            Enter Email Correctly!
                        </span>
                        <label for="password">
                            Password
                        </label>
                        <input ngModel name="password" type="password" class="input w-input" id="password" placeholder="Password"
                            #passwordInput="ngModel" required>
                        <span class="vaidation_error"
                            *ngIf="passwordInput.invalid && passwordInput.touched && !passwordInput.hasError('serverError')">Please
                            Enter Password Correctly!</span>

                        <button [disabled]="loginForm.invalid" type="submit" class="btn w-button">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>