<div class="page-title-section">
    <div class="container flex-space-between">
        <h1 class="page-title">My Recepies</h1>
        <button class="btn btn-success" (click)="onNewRecipe()">New Recipe</button>
    </div>
</div>
<div class="content-section">
    <div class="container">
        <div class="shopping-page-wrapper">

            <div class="my-receipes scroll">
                <ng-scrollbar>
                    <app-recipe-list></app-recipe-list>
                </ng-scrollbar>
            </div>

            <div class="recepies-add-edit">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>