.sidebarBtn {
  width: 35px;
  height: 5px;
  background-color:  #046120;
  margin: 6px 0;
  position: relative;
  transition: all 0.4s;
}

#sidebar_btn {
  padding: 3px 25px;
  display: none;
  cursor: pointer;
  transition: all 0.3s;
}
#sidebar_btn:hover .sidebarBtn {
  background-color: #55db7d;
}

@media (max-width: 767px) {
  #sidebar_btn {
    display: block;
  }

  .navbar-brand {
    float: right;
  }
}

.navlink::after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  display: block;
  background-color: #0f9e0f;
  transform: translateX(-10px);
  transition: all 0.2s;
  opacity: 0;
}
.navlink:hover::after {
  transform: translateX(0);
  opacity: 1;
}
