.close {
  position: relative;
  float: right;
  right: -5px;
  top: -8px;
  transition: all 0.5s;
  width: 20px;
  height: 20px;
}
.close:hover {
  opacity: 1;
}
.close:before,
.close:after {
  position: absolute;
  left: 9px;
  top: 2px;
  content: " ";
  height: 15px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

.close:active,
.close:hover {
  outline: none;
  border: transparent;
}
