<app-modal>
    <div class="text-center">
        <div class="q_modal">Would you like to leave this page without saving all shopping list changes?</div>
        <div class="modal_content_r">Your shopping list has been changed and unsaved so far!</div>
        <p class="modal_content_r">if you want to ignore these changes,click <b class="highlight">Yes</b> to leave this
            page!</p>
        <p class="modal_content_r">
            If you want save these chnages permanently, click <b class="highlight">No</b> to stay this page
            and then click <b class="highlight">Save All</b> to save all changes permanently
        </p>
        <button class="btn btn-warning" (click)="ConfirmModalUI(true)">Yes, leave the page</button>
        <button class="btn btn-primary" (click)="ConfirmModalUI(false)">No, stay the page</button>
    </div>
</app-modal>
<div class="page-title-section">
    <div class="container flex-space-between">
        <h1 class="page-title">My Recepies</h1>
        <!-- <button class="btn btn-success" (click)="onNewRecipe()">New Recipe</button> -->
    </div>
</div>
<div class="content-section">
    <div class="container">
        <div class="shoppinglist-page-wrapper">
            <button [disabled]="!hasChanged" (click)="onSaveAllShoppingList()" class="btn btn-block btn-success">SAVE
                ALL</button>
            <div class="shoppinglist-form">
                <app-shopping-edit (dataChangedEvent)="dataHasChanged()"></app-shopping-edit>
            </div>
            <div class="shoppinglist">
                <div class="shoppinglist-section">
                    <h3 class="text-center">Your Shopping List</h3>
                    <ul class="list-group">
                        <a [@listEffect]="" class="list-group-item" *ngFor="let ingredient of ingredients;let i = index"
                            (click)="onEditItem(i)">
                            <div> {{ ingredient.name }} </div>
                            <div> {{ ingredient.amount }} </div>
                        </a>
                    </ul>
                </div>
            </div>
            <button [disabled]="!hasChanged" (click)="onSaveAllShoppingList()" class="btn btn-block btn-success">SAVE
                ALL</button>
        </div>
    </div>
</div>